/*=============Сброс CSS==============*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=======Общие стили=============*/
@font-face {
  font-family: BebasNeue;
  src: url('fonts/BebasNeue-Bold.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Bold.ttf');
  src: url('fonts/OpenSans-Regular.ttf');
  src: url('fonts/OpenSans-SemiBold.ttf');
}

body {
  max-width: 1440px;
}
h1 {
  font-family: BebasNeue, sans-serif;
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #48555B;
}
h3 {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #48555B;
}
strong {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #48555B;
}
p {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  line-height: 23px;
  color: #48555B;
}
a {
  text-decoration: none;
}
hr {
  color: #00A4E5;
  width: 50px;
  size: 2px;
  margin-top: 10px;
}
.central_container {
  max-width: 941px;
  margin: 0 auto;
}




/*============Header=============*/
header {
  max-width: 1440px;
  height: 768px;
  background-image: url('img/header_bg.png');
}
#header_logo_white {
  height: 23px;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}
header h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 320px;
}
header p {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
#header_sign {
  font-size: 11px;
  margin-top: 220px;
}
.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
#header_logo_black {
  height: 18px;
}
.header_navigation li  {
  display: inline-block;
}
.header_navigation li:nth-child(2) {
  margin-left: 48px;
}
.header_navigation li:nth-child(3) {
  margin-left: 42px;
}
.header_navigation li:nth-child(4) {
  margin-left: 39px;
}
.header_navigation li:nth-child(5) {
  margin-left: 30px;
}
.header_navigation li a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #48555B;
}
.header_navigation li a:hover {
  color: #00A4E5;
}

/*===============About us===========*/
.about_block {
  display: flex;
  justify-content: space-between;
}
#about_h2 {
  margin-top: 57px;
  text-align: center;
}
.about_block {
  margin-top: 70px;
}
.about_discr {
  max-width: 405px;
}
.about_discr a {
  text-decoration: none;
  color: #00A4E5;
}
.about_discr p {
  margin-top: 30px;
}
.cards_block img {
  margin-left: 20px;
}
/*=============Services==============*/
.services_block {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.services_block hr {
  text-align: left;
  margin-left: 0;
}
.services_block p {
  margin-left: 155px;
  max-width: 405px;
  font-size: 11px;
  line-height: 19px;
}
.services_block button {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  color: #ffffff;
  border: none;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
/*============Work=============*/
.work_block {
  display: flex;
  justify-content: between;
  margin-top: 80px;
}
.work_card {
  width: 295px;
  height: 330px;
}
.work_card img {
  margin-top: 38px;
  margin-left: 23px;
}
.work_card h3 {
  margin-top: 25px;
  margin-left: 23px;
}
.work_card p {
  margin-top: 13px;
  margin-left: 23px;
}
